<div class="container">

    <!-- MY SKILLS SESSION -->
    <div class="skills" id="skill">
        <h1>SKILLS</h1>
        <div class="skill-container">
            <div class="col-1">
                <div class="skills-housing">
                        <div class="top">
                            <h2>LANGUAGES</h2>
                        </div>   
                    <ul>
                        <span>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JAVASCRIPT</li>
                            <li>TYPESCRIPT</li>
                        </span>
                    </ul>
                </div>
            </div> 
        <div class="col-1">
            <div class="skills-housing space">
                <div class="top">
                    <h2>FRAMEWORKS</h2>
                </div>   
                <ul>
                    <span class="padding">
                        <li> ANGULAR</li>
                        <li>BOOSTRAP</li>
                        <li>IONIC</li>
                    </span>
                </ul>
            </div>
        </div>
      </div>         
    </div>
  
</div>